.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
    margin: 7% auto;
    background: white;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),
                0 0 0 1px rgba(10,10,10,.02);
    z-index: 10;
}