.modal-wrapper {
    opacity: 0;
    background: white;
    padding: 3rem 2rem;
    z-index: 10;
    border: 1px solid grey;
    border-radius: 1rem;
    width: 40%;
    position: absolute;
    left: 25vw;
}

.modal-wrapper.open {
    opacity: 1;
    transition: all .2s ease-in-out;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),
                0 0 0 1px rgba(10,10,10,.02);
}
