.ad-card {
  text-align: 'left'; 
  max-width: '20%';
  margin: '1rem'; 
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),
              0 0 0 1px rgba(10,10,10,.02);
  border-radius: 1.1rem;

}

li {
  list-style: none;
}

img {
  max-width: 300px;
}

a {
  text-decoration: none;
  color: inherit
}

#log-out-in-error {
  
}