.content {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    
}

.main {
    padding-bottom: 4rem;
    
}

.footer {
    position: relative;
    left: 0;
    bottom: -9px;
    width: 100%;
    background-color: #f2f2f2;
    height: 2rem;
    line-height: 2rem;
}