#f-btn {
    position: relative;
    top: 3px;
    padding: .1rem .5rem;
    border-radius: 100px;
    border: 1px solid grey;
    background-color: white;
    /* margin-top: 16px; */
    margin-left: 3px;
    cursor: pointer;
}

#f-icon {
    font-size: 1rem;
    color: #757575;
    
}